<body>
<div class = "main-div" style= "background-color: aqua;">
  <h1 style="text-align: center;">Easy Portfolio</h1>
</div>
<div class = "main-div" style = "background-color: bisque; width:fit-content">


  <app-login
  *ngIf = "loginForm"
  (registerFormChange)="formChange($event)"
  (toPortfolio) = "loginToPort($event)"
  (currentUser)="setCurrentUser($event)">

</app-login>


  <app-signup 
  (backToLogin) = "toLogin($event)"
  *ngIf="registerForm">
  </app-signup>


  <app-user-portfolio 
  *ngIf = "togglePortfolio"
  [currentUser]="currentUser">
</app-user-portfolio>


</div>
</body>